<html>
    <head>
        <style>
            body: {
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </head>
    <body>
        <strong>Hi, {{ ad.author.name }}</strong>
        <p>You've an purchase solicitation to the Ad {{ ad.title }}</p>
        <br>
        <strong>{{ user.name }} ({{ user.email }}):</strong>
        <p>{{ content }}</p>
    </body>
</html>
